<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body>
    <div id='app'>
        <header id="movie-header">Here is a list of Movies Now Playing in Theatres</header>
        <p class="app-par-1">
            <a class="app-links" href="/api/v1/ejspassport/choose-api">Options</a> | 
            <a class="app-links" href="/api/v1/ejspassport/logout">Logout</a>
        </p>
        <p class="app-par-2">
            Logged in as: <%= user.name %>
        </p>
        <div id="movies-container">
            <% movies.forEach(item => { %>
                <div id="movie-profile">
                    <img id='movie-pic' src= <%= posterBasePath + item.poster_path %> >
                    <div id="movie-info">
                        <p id="movie-title"><%= item.title %>
                        <p><%= item.overview %>
                    </div>
                    
                </div>
            <% }) %>
            </div>
        <footer>
            <%- include('../partials/footer.ejs') %> 
        </footer>
    </div>
</body>
</html>