<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body>
    <div id="app">
        <header id="random-header">Random Users</header>
        <p class="app-par-1">
            <a class="app-links" href="/api/v1/ejspassport/choose-api">Options</a> | 
            <a class="app-links" href="/api/v1/ejspassport/logout">Logout</a>
        </p>
        <p class="app-par-2">
            Logged in as: <%= user.name %>
        </p>
        <div id="users-container">
            <% users.forEach(item => { %>
                <div id="user-profile">
                    <img id='user-pic' src= <%= item.picture.thumbnail %> >
                    <p><%= item.name.first %> <%= item.name.last %></p>
                </div>
            <% }) %>
            </div>
        <footer>
            <%- include('../partials/footer.ejs') %> 
        </footer>
    </div>
</body>
</html>